body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  color: var(--main-text-color);
  background-color: var(--main-bcg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input:not(:focus):not(:placeholder-shown):valid,
textarea:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(10, 136, 23, 0.361);
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 101px;
    padding-right: 101px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
