<section class="about">
  <div class="container">
    <h2 class="visually-hidden">Про нас</h2>
    <div class="about__wrapper-content">
      <div class="wrapper-content-flex">
        <h3 class="about__title">Комфорт в работе</h3>
        <ul class="about__list">
          <li class="about__item">
            <p class="about__desk">
              - Создавай документы по твоим личным привычным шаблонам. Это
              индивидуально!
            </p>
          </li>
          <li class="about__item">
            <p class="about__desk">
              - Настраивай порядок подписание документа, если вас несколько
              человек. Это ответственно!
            </p>
          </li>
          <li class="about__item">
            <p class="about__desk">
              - Загружай XML файл с собственным шаблоном готового документа. Это
              удобно!
            </p>
          </li>
          <li class="about__item">
            <p class="about__desk">
              - Работай в супер простом и понятном интерфейсе без сложностей.
              Это приятно!
            </p>
          </li>
        </ul>
        <a href="" class="about__btn-more"> Узнать больше </a>
      </div>

      <picture class="about__img-wrapper-one">
        <source
          srcset="
            ./images/desktop/comp-screen.webp    1x,
            ./images/desktop/comp-screen@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/desktop/comp-screen.jpg    1x,
            ./images/desktop/comp-screen@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/table/comp-screen.webp    1x,
            ./images/table/comp-screen@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/table/comp-screen.jpg    1x,
            ./images/table/comp-screen@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/comp-screen.webp    1x,
            ./images/mobile/comp-screen@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/mobile/comp-screen.jpg    1x,
            ./images/mobile/comp-screen@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          loading="lazy"
          src="./images/mobile/comp-screen.jpg"
          alt="Снимок экрана компьютера"
        />
      </picture>
      <a href="" class="about__btn-more--mobile"> Узнать больше </a>
    </div>
    <div class="about__wrapper-content-two">
      <div class="wrapper-content-flex">
        <h3 class="about__title">Наш продукт это:</h3>
        <ul class="about__list">
          <li class="about__item">
            <p class="about__desk">
              - Web версия без установки программного обеспечения
            </p>
          </li>
          <li class="about__item">
            <p class="about__desk">
              - Возможность бесплатно и безлимитно обрабатывать входящие
              документы
            </p>
          </li>
          <li class="about__item">
            <p class="about__desk">
              - Простота интеграции с 1С и другими сервисами
            </p>
          </li>
          <li class="about__item">
            <p class="about__desk">- Поддержка входа через Mobile ID</p>
          </li>
        </ul>
        <button class="about__btn-regist">Зарегистрироваться</button>
      </div>
      <picture class="about__img-wrapper-two">
        <source
          srcset="
            ./images/desktop/comp-screen.webp    1x,
            ./images/desktop/comp-screen@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/desktop/comp-screen.jpg    1x,
            ./images/desktop/comp-screen@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/table/comp-screen.webp    1x,
            ./images/table/comp-screen@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/table/comp-screen.jpg    1x,
            ./images/table/comp-screen@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/comp-screen.webp    1x,
            ./images/mobile/comp-screen@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/mobile/comp-screen.jpg    1x,
            ./images/mobile/comp-screen@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          loading="lazy"
          src="./images/mobile/comp-screen.jpg"
          alt="Снимок экрана компьютера"
        />
      </picture>
      <button class="about__btn-regist--mobile">Зарегистрироваться</button>
    </div>
  </div>
</section>
