<section class="benefits">
  <div class="container">
    <ul class="benefits__list">
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./images/mobile/symbol-defs.svg#icon-speedometer"></use>
        </svg>
        <div class="benefits__wrapper-content">
          <h2 class="benefits__title">Моментально</h2>
          <p class="benefits__desc">
            Никаких задержек. 1 секунда на подписание
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./images/mobile/symbol-defs.svg#icon-positive-vote"></use>
        </svg>
        <div class="benefits__wrapper-content">
          <h2 class="benefits__title">Глобально</h2>
          <p class="benefits__desc">Сервис доступен 24\7 со всех устройств</p>
        </div>
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./images/mobile/symbol-defs.svg#icon-piggy-bank"></use>
        </svg>
        <div class="benefits__wrapper-content">
          <h2 class="benefits__title">Экономно</h2>
          <p class="benefits__desc">В 30 раз дешевле чем почта и курьеры</p>
        </div>
      </li>
    </ul>
  </div>
</section>
