<section class="call-form">
  <div class="container">
    <h2 class="call-form__title">Подпишись на наши новости!</h2>
    <form class="call-form__form">
      <p class="call-form__sub-title">
        Введи свой электронный адрес и будь в курсе всех обновлений
      </p>
      <div class="call-form__wrapper-content">
        <label class="call-form__label">
          <input
            required
            type="email"
            name="email"
            placeholder="ivan@mail.com"
            class="call-form__field call-form__field--focus"
          />
        </label>
        <button type="submit" class="call-form__btn">отправить</button>
      </div>
    </form>
  </div>
</section>
