<footer class="footer">
  <div class="container">
    <div class="wrapper-all-cont-fl">
      <div class="footer__wrapper-link">
        <a href="./index.html" class="logo logo--footer">
          <svg class="logo__svg logo__svg--footer">
            <use href="/src/images/mobile/symbol-defs.svg#icon-logo-new"></use>
          </svg>
        </a>
        <a href="" class="footer__link-arr-up">
          <svg class="footer__icon">
            <use href="./images/mobile/symbol-defs.svg#icon-arrou-up"></use>
          </svg>
        </a>
      </div>
      <div class="footer__wrapper-content-regist">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="" class="footer__link"> Про нас </a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link"> Цены </a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link"> Блог </a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link"> Контакты </a>
          </li>
        </ul>
        <ul class="footer__list-regist">
          <li class="footer__item-regist">
            <a href="" class="footer__link-regist"> Вход </a>
          </li>
          <li class="footer__item-regist">
            <a href="" class="footer__link-regist"> Регистрация</a>
          </li>
        </ul>
      </div>
      <div class="wrapper-flex-adr-soc">
        <ul class="footer__list-social">
          <li class="footer__item-social">
            <a href="" class="footer__link-social">
              infosmartsign@smarttender.biz
            </a>
          </li>
          <li class="footer__item-social">
            <a href="" class="footer__link-social"> Facebook </a>
          </li>
        </ul>
        <address class="footer__address">
          <a href="" class="footer__link-address">
            пр-т Миколи Бажана, 14 А Київ, 02072
          </a>
          <ul class="footer__list-phone">
            <li class="footer__item-phone">
              <a href="" class="footer__lin-phone"> +380 44 334 56 43 </a>
            </li>
            <li class="footer__item-phone">
              <a href="" class="footer__lin-phone"> +380 44 338 86 43 </a>
            </li>
            <li class="footer__item-phone">
              <a href="" class="footer__lin-phone"> +380 44 338 86 43 </a>
            </li>
          </ul>
        </address>
      </div>
    </div>

    <div class="footer__wrapper-polic">
      <p class="footer__policy-date">© 2020 Signy</p>
      <p class="footer__policy-ord">Договір оферти</p>
      <p class="footer__policy-ser">Безпека сервісу</p>
    </div>
  </div>
</footer>
