<section class="friends">
  <div class="container">
    <h2 class="friends__title">Друзья Signy</h2>
    <ul class="friends__list">
      <li class="friends__item">
        <a href="" class="friends__link">
          <img src="./images/mobile/ukr-prom.png" alt="" class="friends__img" />
        </a>
      </li>
      <li class="friends__item">
        <a href="" class="friends__link">
          <img
            src="./images/mobile/new-email.png"
            alt=""
            class="friends__img"
          />
        </a>
      </li>
      <li class="friends__item">
        <a href="" class="friends__link">
          <img src="./images/mobile/n-ix.png" alt="" class="friends__img" />
        </a>
      </li>
      <li class="friends__item">
        <a href="" class="friends__link">
          <img src="./images/mobile/bread.png" alt="" class="friends__img" />
        </a>
      </li>
    </ul>
    <div class="wrapper-content-point">
      <span class="wrapper-content-point__decor-point"></span
      ><span class="wrapper-content-point__decor-point"></span
      ><span class="wrapper-content-point__decor-point"></span>
    </div>
  </div>
</section>
