<header class="header">
  <div class="container flex-container-desctop">
    <div class="content-mobile">
      <a href="./index.html" class="logo">
        <svg class="logo__svg">
          <use href="/src/images/mobile/symbol-defs.svg#icon-logo-new"></use>
        </svg>
      </a>
      <button
        data-open-menu
        class="header__btn-burger btn-open-js"
        type="button"
      >
        <svg class="header__icon-burger">
          <use href="/src/images/mobile/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <div class="header__content">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="" class="header__link"> 0 800 750 643 </a>
          </li>
          <li class="header__item">
            <a href="" class="header__link"> Про нас </a>
          </li>
          <li class="header__item">
            <a href="" class="header__link"> Цены </a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="sign-up">
        <li class="sign-up__item">
          <button class="sign-up__go" type="button">Вход</button>
        </li>
        <li class="sign-up__item">
          <button class="sign-up__regist" type="button">Регистрация</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="backdrop">
    <div class="modal-menu">
      <div class="container">
        <div class="content-wr">
          <a href="./index.html" class="logo">
            <svg class="logo__svg">
              <use
                href="/src/images/mobile/symbol-defs.svg#icon-logo-new"
              ></use>
            </svg>
          </a>
          <button class="md-mn-btn btn-close-js" type="button">
            <svg width="14" height="14">
              <use href="./images/mobile/symbol-defs.svg#icon-cross"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
