<header class="header">
  <div class="container flex-container-desctop">
    <div class="content-mobile">
      <a href="./index.html" class="logo">
        <svg class="logo__svg">
          <use href="/src/images/mobile/symbol-defs.svg#icon-logo-new"></use>
        </svg>
      </a>
      <button
        data-open-menu
        class="header__btn-burger btn-open-js"
        type="button"
      >
        <svg class="header__icon-burger">
          <use href="/src/images/mobile/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <div class="header__content">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="" class="header__link"> 0 800 750 643 </a>
          </li>
          <li class="header__item">
            <a href="" class="header__link"> Про нас </a>
          </li>
          <li class="header__item">
            <a href="" class="header__link"> Цены </a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="sign-up">
        <li class="sign-up__item">
          <button class="sign-up__go" type="button">Вход</button>
        </li>
        <li class="sign-up__item">
          <button class="sign-up__regist" type="button">Регистрация</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="backdrop">
    <div class="modal-regist-form">
      <div class="container-modal">
        <button class="modal-regist__btn-close" type="button">
          <svg width="14" height="14">
            <use href="./images/mobile/symbol-defs.svg#icon-cross"></use>
          </svg>
        </button>
        <h2 class="modal-regist__title">
          Заполни форму и наши менеджеры свяжутся с тобой
        </h2>
        <form class="modal-regist__form">
          <label class="modal-regist__field">
            <p class="modal-regist__desc">Имя*:</p>
            <input
              placeholder="Иван"
              class="modal-regist__input"
              type="text"
              required
              name="name-user"
            />
          </label>
          <label class="modal-regist__field">
            <p class="modal-regist__desc">Электронная почта*:</p>
            <input
              placeholder="ivan@mail.com"
              class="modal-regist__input"
              type="email"
              required
              name="email-user"
            />
          </label>
          <label class="modal-regist__field">
            <p class="modal-regist__desc">Телефон*:</p>
            <input
              placeholder="+38 000 000 00 00"
              class="modal-regist__input"
              type="tel"
              required
              name="tel-user"
            />
          </label>
          <button type="submit" class="modal-regist__btn-send">
            Отправить
          </button>
        </form>
      </div>
    </div>
    <!-- <div class="modal-regist-send">
      <div class="container">
         <button class="modal-regist-send__btn-close" type="button">
          <svg width="14" height="14">
            <use href="./images/mobile/symbol-defs.svg#icon-cross"></use>
          </svg>
      </div>
    </div> -->
    <div class="modal-menu">
      <div class="container">
        <div class="content-wr">
          <a href="./index.html" class="logo">
            <svg class="logo__svg">
              <use
                href="/src/images/mobile/symbol-defs.svg#icon-logo-new"
              ></use>
            </svg>
          </a>
          <button class="md-mn-btn btn-close-js" type="button">
            <svg width="14" height="14">
              <use href="./images/mobile/symbol-defs.svg#icon-cross"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
