<section class="hero">
  <div class="container">
    <h1 class="hero__title">Цифровой документооборот в три этапа:</h1>
    <ul class="decoration-list">
      <li class="decoration-list__item-num">1</li>
      <li class="decoration-list__item-step"></li>
      <li class="decoration-list__item-num">2</li>
      <li class="decoration-list__item-step"></li>
      <li class="decoration-list__item-num">3</li>
    </ul>
    <h2 class="hero__sub-tittle">Быстрая регистрация</h2>
    <p class="hero__desk">
      Мы создали, возможно, самую простую регистрацию. Регистрируйся, получай
      полный доступ к сервису и 1000 подписей документов в подарок!
    </p>
    <button class="hero__btn-registr" type="button">
      Попробовать Бесплатно
    </button>
    <div class="wrapper-content-point">
      <span class="hero__decor-point"></span
      ><span class="hero__decor-point"></span
      ><span class="hero__decor-point"></span>
    </div>
  </div>
</section>
