<section class="questions">
  <div class="container">
    <h2 class="questions__title">Популярные вопросы и ответы на них</h2>
    <ul class="questions__list">
      <li class="questions__item">
        <p class="questions__desk">
          <span class="questions__span">+</span>
          Почему круглую пиццу ставят в квадратную коробку, а нарезают
          треугольниками?
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__desk">
          <span class="questions__span">+</span>
          Почему после ремонта дорога опять проваливается?
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__desk">
          <span class="questions__span">+</span>Почему вода мокрая?
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__desk">
          <span class="questions__span">+</span>Видят ли микробы друг друга?
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__desk">
          <span class="questions__span">+</span>Почему кровь красная а вены
          синие?
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__desk">
          <span class="questions__span">+</span>Из чего сделана радуга?
        </p>
      </li>
    </ul>
  </div>
</section>
