.friends {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  @media screen and(min-width: 768px) {
    padding-top: 43px;
    padding-bottom: 53px;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 47px;
    padding-bottom: 98px;
  }
}

.friends__title {
  margin-bottom: 25px;
  font-family: 'IBM Plex Serif';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;

  @media screen and(min-width: 768px) {
    margin-bottom: 44px;
    font-size: 36px;
    line-height: 1.33;
  }

  @media screen and(min-width: 1200px) {
    font-size: 40px;
    line-height: 1.2;
  }
}

.friends__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 25px;

  @media screen and(min-width: 768px) {
    gap: 30px;
    margin-bottom: 62px;
  }

  @media screen and(min-width: 1200px) {
    gap: 96px;
    margin-bottom: 36px;
  }
}
