.intresting {
  padding-top: 21px;
  padding-bottom: 31px;
  background-color: var(--second-bcg-color);

  @media screen and(min-width: 768px) {
    padding-top: 35px;
    padding-bottom: 56px;
  }
}
.intersting__container {
  @media screen and(min-width: 1200px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.intresting__title {
  margin-bottom: 25px;

  font-family: 'IBM Plex Serif';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;

  @media screen and(min-width: 768px) {
    margin-bottom: 42px;
    font-size: 36px;
    line-height: 1.33;
  }
}

.intresting__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    justify-content: center;
    gap: 45px;
  }

  @media screen and(min-width: 1200px) {
    gap: 28px;
  }
}

.intrestinf__img {
  margin-bottom: 12px;
  background: linear-gradient(
    293.97deg,
    #ffffff -9.96%,
    rgba(255, 255, 255, 0) 111.88%
  );
}

.intresting__sub-title {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1.16;

  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.intresting__item--off {
  @media screen and(max-width: 1199px) {
    display: none;
  }
}

.intresting__desc {
  width: 257px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;

  @media screen and(min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}
